.correction-box{
    height: 200px;
    width: 80%;
    border: 1px solid black;
    overflow: scroll;
}

.select-mode{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
}

.clear-btn{
    margin-top: 20px;
    background-color: rgb(233, 135, 135);
}

.info{
    font-size: 12px;
}

@media(max-width: 980px) {

    .heading{
        font-size: 18px;
        text-align: center;
    }
    
    .desc{
        font-size: 15px;
        text-align: center;
    }

    .info{
        font-size: 10px;
    }

    .clear-btn{
        margin-bottom: 10px;
    }
}