.outer-container{
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.header{
    height: 23%;
    width: 100%;
    text-align: center;
    position: inherit;
}

.textarea{ 
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.textbox{
    height: 150px;
    width: 100%;
    align-items: center;
    padding: 20px;
}


.textbox > .textarea1,.textarea2{
    height: 100%;
    width: 95%;
}

.method-section{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 20px;
}

.method-section > .method,.timeset{
    height: 100px;
    width: 30%;
}

.timeset{
    padding: 30px;
}

.output-section{
    height: fit-content;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
}

.output-container{
    height: fit-content;
    width: 55%;
}

.diff-btn{
    width: 75%;
    overflow-wrap: break-word;
}